<div class="container-fluid">
  <div class="row bg-1 d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col md-6 text-white text-center">
          <H1>Seja Bem Vindo(a)!</H1>
          <h3>Aqui você pode orgarnizar o café da manhã da equipe!</h3>
          <h4>Você pode trazer quantos itens quiser, mas não pode repetir nenhum item que alguém já tenha postado.</h4>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-6 text-center">
          <button class="btn btn-light mr-6 mt-5" data-bs-toggle="modal" data-bs-target="#novaPostagem">
            Novo item
          </button>
          <a class="btn btn-outline-light mt-5 mr-6" href="#postagens">Lista do Café</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center mt-3 mb-5">
      <img src="https://i.imgur.com/ozY9Yk2.png" alt="" width="500px" height="500px">
    </div>
  </div>
</div>

<div class="container mb-5 mt-5" id="postagens">

  <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="todasPostagens-tab" data-bs-toggle="tab" data-bs-target="#todasPostagens"
        type="button" role="tab" aria-controls="todasPostagens" aria-selected="true">Lista do Café</button>
    </li>
    <li class="nav-item" role="presentation">
      <button (click)="findUsuarioById()" class="nav-link" id="minhasPostagens-tab" data-bs-toggle="tab"
        data-bs-target="#minhasPostagens" type="button" role="tab" aria-controls="minhasPostagens"
        aria-selected="false">O que estou levando</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
      <div class="mt-3 d-flex flex-wrap justify-content-around">
        <div class="postagem text-center" *ngFor='let prod of listaPostagem'>
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title m-2">Eu vou levar</h5>
              <p class="card-text mt-3 mb-5">{{prod.item}}</p>
            </div>
            <div>
              <p class="card-text"><small class="text-muted">{{prod.data | date: 'dd/MM/yyyy'}} às {{prod.data | date:
                  'HH:mm'}}</small></p>
              <p class="card-text"><small class="text-muted">Por: {{prod.usuario.nome}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade show active" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">
      <div class="mt-3 d-flex flex-wrap justify-content-around">
        <div class="card text-center" *ngFor='let prod of usuario.postagem'>
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title m-2">Estou levando</h5>
              <p class="card-text mt-3 mb-5">{{prod.item}}</p>
              <p>Postado por: {{usuario.nome}}</p>
              <p class="card-text"><small class="text-muted">
                  {{prod.data | date: 'dd/MM/yyyy'}} às {{prod.data | date: 'HH:mm'}}
                </small></p>

                <a [routerLink]="['/postagem-edit', prod.id]" class="text-info mr-6" href="">Editar</a>
                <a [routerLink]="['/postagem-delete', prod.id]" class="text-danger" href="">Apagar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Novo item!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="item">item</label>
          <textarea name="item" id="item" class="form-control" rows="1" [(ngModel)]="postagem.item"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-success" (click)="publicar()" data-bs-dismiss="modal">
          Publicar
        </button>
      </div>
    </div>
  </div>
</div>
