<footer class="page-footer font-small bg-1 pt-4">

<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h4 class="text-white">Github do projeto!</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <ul class="social-network">
        <li>
          <a href="https://github.com/GustavoHLC/DesafioUnidac" target="_blank" class="icoGithub">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
