<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  d-flex align-items-center">
        <li class="nav-item">
          <img src="https://scontent.fcgh23-1.fna.fbcdn.net/v/t1.6435-9/73170989_2071616559605550_5963586348471287808_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFzEkW-55SkethzR91Kez0rheLH5YQK0JqF4sflhArQmv235nRGuxZ9-Q6uYEShm68pD6drj-cvZq5J9erCPqcv&_nc_ohc=AZmMi0Lo3AIAX8rURTT&_nc_ht=scontent.fcgh23-1.fna&oh=00_AT-qN2fw5168bWnSbhe7vrQY9XXkBczYhCxN0mCHtitNXw&oe=61FBC3DF" alt="img do user" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário</p>
        </li>
        <li class="nav-item pl-3">
          <a href="">
          <p class="text-white m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-white fs-16">sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
