<div class="container  my-5 d-flex flex-column align-items-center ">
  <h1 class="text-center">Bem vindo a edição do Café da manhã!</h1>
  <div class="col-md-6 d-flex flex-column align-items-center">
    <div class="form-group">
      <label class="d-flex flex-column align-items-center" for="item">item</label>
      <textarea name="item" id="item" class="form-control" rows="1" [(ngModel)]="postagem.item"></textarea>
    </div>
    <div class='col-md-10 d-flex justify-content-around mt-5 mb-20'>
      <button class="btn btn-danger" routerLink="/temas">Cancelar</button>
      <button class="btn btn-success" (click)="atualizar()">Alterar</button>
    </div>
  </div>
</div>
